<nav class="navbar navbar-expand-sm navbar-light text-white">
    <a id="brand-name" class="navbar-brand text-white" href="/"><%= process.env.INSTANCE_NAME || 'Myrient' %> Search</a>
    <a id="brand-name" class="navbar-brand text-white hidden" href="/search"><%= __('nav.results') %></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="/settings"><%= __('nav.settings') %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/emulators"><%= __('nav.emulators') %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/about"><%= __('nav.about') %></a>
      </li>
    </ul>

    <!-- Language Selector Dropdown -->
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bi bi-globe"></i>
        <%= __('languages.' + locale) %>
      </button>
      <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="languageDropdown">
        <% availableLocales.forEach(lang => { %>
          <a class="dropdown-item text-white <%= locale === lang ? 'active' : '' %>" href="javascript:void(0)" onclick="changeLanguage('<%= lang %>')">
            <%= __('languages.' + lang) %>
          </a>
        <% }); %>
      </div>
    </div>
</nav>

<script src="/public/js/navbar.js"></script>