<div class="col-md-auto row align-items-start searchresult">
    <div class="">
        <img class="coverart" src="<%= result.image || "/public/images/coverart/nocoverart.png"%>">
    </div>
    <div class="col-md">
        <p class="title"><%= result.title || result.filename %></p>
        <p class="info"<span class="infoitem">Released: <%= result.releaseDate || result.date %></span> <span class="infoitem">Region: <%= result.region %></span></p>
        <p class="description"><%= result.description || "No description was found." %></p>
        <% if(result.title) {%>
        <p class="file">Filename: <%= result.filename %></p>
        <% } %>
        <p class="actions"><button class="btn btn-sm btn-secondary" href="">More Info</button> <button class="btn btn-sm btn-secondary" href="<%= result.path %>">Download</button> <button class="btn btn-sm btn-secondary" href="/play/<%= result.id %>">Play In Browser</a></button>
    </div>
</div>