<% 
    const metadata = result.metadata || new Object()
    const file = result.file || new Object()
    const coverUrl = metadata.coverartid ? `/proxy-image?url=https://images.igdb.com/igdb/image/upload/t_cover_big/${metadata.coverartid}.webp` : "/public/images/coverart/nocoverart.png"
%>
<div class="col-md-auto row align-items-start searchresult">
  <div class="cover">
    <img class="coverart" src="<%= coverUrl %>" href="<%= file.path %>">
  </div>
  <div class="col-md">
    <p class="title"><a href="/info/<%=file.id %>"><%= metadata.title || file.filename %></a></p>
    <p class="info"><span class="infoitem badge badge-secondary"><%= __('search.released') %> <%= metadata.releasedate || file.date %></span>
      <span class="infoitem badge badge-secondary"><%= __('search.region') %> <%= file.region %> <%- flags.createFlag(file.region) %></span>
      <span class="infoitem badge badge-secondary"><%= __('search.platform') %> <%= file.category %> <%- consoleIcons.createConsoleImage(file.category) %></span>
      <% if(metadata.genre){ %>
      <span class="infoitem badge badge-secondary"><%= __('search.genre') %> <%= JSON.parse(metadata.genre).join(' / ') %></span>
      <% } %>
    </p>
    <% if(metadata.title) {%>
    <p class="description"><%= metadata.description || __('search.no_description') %></p>
    <% } else { %>
    <p class="description"><%= __('search.no_metadata') %></p>
    <% } %>
    <% if(metadata.title) {%>
    <p class="file"><%= __('search.filename') %> <%= file.filename %> | <%= __('search.upload_date')%> <%= file.date %></p>
    <% } %>
    <p class="group"><%= __('search.release_group') %> <%= file.group %></p>
    <p class="actions">
      <a class="btn btn-sm btn-secondary" href="/info/<%=file.id %>"><%= __('search.more_info') %></a>
      <a class="btn btn-sm btn-secondary" href="<%= file.path %>"><%= __('search.download') %></a>
      <% if (process.env.EMULATOR_ENABLED === 'true') { %>
      <% if (isEmulatorCompatible(file.category)) { %>
      <a class="btn btn-sm btn-secondary" href="/play/<%= file.id %>"><%= __('emulator.play')%></a></a> <% } else { %>
      <button class="btn btn-sm btn-secondary" disabled><%= __('emulator.not_available') %> <i class="bi bi-question-circle" data-toggle="tooltip" data-placement="right" title="<%= __('emulator.not_available_tooltip') %>"></i></button>
      <% } 
    }%>

  </div>
</div>